.searchForm{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.searchForm> input {
    height: 50%;
    width:30%;
    padding: 10px;
    font-size: 100%;
    border: 2px solid #2E94E3;
    border-radius: 20px;
    margin: 5px;
    background-color: #282c34;
    color: #ffffff;
}
.searchButton{
    margin: 5px;
    width: 10%;
    height: 75%;
    padding: 10px;
    font-size: 100%;
    border: 2px solid #2E94E3;
    border-radius: 20px;
    cursor: pointer;
    background-color: #282c34;
    color: #ffffff;
}
.searchButton:hover{
    background-color: #2E94E3;
    color: #ffffff;
}
